
body {
    margin: 0px;
}
.cart {
    position: absolute;
    right: 0px;
    top: 77px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    background-color: white;
    padding: 8px;
    min-width: 220px;
    min-height: 331px;
}
.cart button {
    background-color: black;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: 'Silkscreen';
}
.cart-item-image {
    height : 75px;
    width: 75px;
}
.change-quantity-container {
    display: flex;
}
.cart-item {
    display: flex;
    gap: 20px;
}

.hidden {
    visibility: hidden;
}
.header-cart {
    cursor: pointer;
}