.header {
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 32px;
    padding: 20px;
    font-family: 'Silkscreen' !important;


}
.navbar {
    display: flex;
    justify-content: space-between;
    
}
.link-container {
    display : flex;
    gap: 75px;
    font-family: 'Silkscreen' !important;
}
.logo {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin-left: 3%;
}
.header-cart {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
   
}
